{% extends 'events/base.html' %}
{% load static %}

{% block content %}


<div class="container">

    <!-- Event Details -->
    <div class="event-hero fade-in">

        <div class="event-title">
            {{ event.title }}
        </div>

        <div class="event-meta">

            {{ event.location }}
            <br>
            {{ event.event_type }}
            <br>


            {{ event.date }}

            <br><br>

            <span class="badge-custom">
                Capacity: {{ event.capacity }}
            </span>

        </div>

    </div>

    <!-- Registration Form -->

    <div class="row justify-content-center">

        <div class="col-md-8 col-lg-6">

            <div class="glass-wrapper">

                <div class="card glass-form border-0 fade-in">

                    <div class="card-body p-5">

                        <div class="glass-header">

                            <h2>
                                Event Registration
                            </h2>
                            <a href="{% url 'event_list' %}" class="back-btn mb-3">
        ← Back
    </a>
                            <p>
                                Complete the form below to secure your seat.
                            </p>
                            

                        </div>

                        <form method="POST">

                            {% csrf_token %}

                            {{ form.as_p }}

                            <button
                                type="submit"
                                class="btn glass-submit btn-lg w-100 mt-4">

                                Register Now

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

document.addEventListener("DOMContentLoaded", function() {

    document.querySelectorAll(".fade-in").forEach((el, i) => {

        setTimeout(() => {
            el.classList.add("show");
        }, i * 200);

    });

});

</script>

{% endblock %}